<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Plot-Twist - Home</title>
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/front_page.css" />
</head>

<body>

  <!--Navigation Bar partial-->
  <%- include('partials/_navBar') %>

    <div class="page-layout">
      <!--Profile Bar/header partial-->
      <%- include('partials/_header') %>

        <!--Main Element area-->
        <main class="main-content"> <!--Trying something out with the filter button-->
          <button class="filter-button" aria-label="Open filter menu">&#9660;</button>

          <section class="user-story-row">
            <% stories.forEach(story => { %>
              <div class="story-card">
                <div class="user-info">
                  <img src="$PLACEHOLDER$" alt="User <%= story.owner_id %>'s Profile Pic">
                  <p class="username">User <%= story.owner_id %></p>
                </div>
                <div class="story-content">
                  <div class="story-title">
                    <h3><%= story.title %></h3>
                    <div class="story-buttons">
                      <button>LIKE</button>
                      <button>EDIT</button>
                      <button>DELETE</button>
                    </div>
                  </div>
                  <p class="story-text"><%= story.text_body %></p>
                </div>
              </div>
            <% }); %>
          </section>

        </main>
    </div>

</body>

</html>
